body {
    background-image: url(../images/background.jpg);
    background-size: cover;
    text-align: center;
    font-family: 'Fredoka One', cursive;

}

#quiz {
    background-image: url(../images/background2.jpg);
    background-size: cover;
}

#content {
    background: #c7dafa;
    
}

.btn {
    background: #c7dafa;
    box-shadow: 1px 1px 15px #4e234d50;
}

#next {
    background: #c7dafa;
    box-shadow: 1px 1px 15px #4e234d50;
}

.hide {
    display: none;
}